
<div class="container content">
    <div class="row">
        <div class="col-4 colcontent" *ngFor="let c of currency">
            <p-card header="{{c.code}}" [style]="{'width': '17rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="{{c.pic}}" style="height:7rem;">
                </ng-template>
                <div>
                    <h5><span style="font-weight:normal;font-size: 17px;">name:</span> &nbsp;&nbsp;{{c.name}}</h5>
                </div>
                <div>
                    <h5><span style="font-weight:normal;font-size: 17px;">1 {{c.code}} =</span> &nbsp;&nbsp;{{c.inr}} INR</h5>
                </div>
            </p-card>
        </div>
    </div>
</div>