.a1{
    color: teal;
    padding-left: 30px;
}
.log{
    align-items: center;
}
.logcard{
    height: 22rem;
    width: 36rem;
    background-color: white;
    margin-top: 5%;
    margin-left: 27%;
}
.logpad{
    padding-inline: 14%;
    padding-top: 5%;
}
.captchabox{
    height: 2rem;
    width: 6rem;
    margin-left: 14%;
    margin-top: 5%;
    border: teal;
    display: inline-block;
    
}
.logbtn{
    padding-left: 80px;
    padding-top: 5%;

}
.logbtn1{
    background-color: teal;
    padding-inline: 37%;
    color: white;
    font-weight: bold;

}
.captchabox1{
    padding-top: 0rem;
    display: inline-block;
    padding-left: 2rem;
}
.sgnbtn{
    color: teal;
    text-decoration: none;
}
.sgnbtn:hover{
    text-decoration: underline;
}
.rr{
    border-color: teal;
    border-radius: 10px;
    
}