<div class="container-fluid">
    <div class="col-12">

        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" class="a1"><i class="fa-solid fa-3x fa-sack-dollar"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>

          <main>
            <div class="log border border-light rr">
               <div class="card logcard">
                <form action="" (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="logpad">
                    <span class="p-float-label" >
                        <input id="float-input" class="form-control"  formControlName="username" type="text" pInputText > 
                        <label for="float-input" style="color: teal;">Username</label>
                    </span>
                    </div>
                    <div class="logpad">
                    <span class="p-float-label">
                        <input id="float-input2" class="form-control" formControlName="password"  type="password" pInputText  > 
                        <label for="float-input" style="color: teal;">Password</label>
                    </span>
                    </div>
                    <div class="border border-3 captchabox">
                        {{captcha}}
                    </div>
                    <div class="captchabox1">
                        <span class="p-float-label captchabox2">
                            <input id="float-input3" type="text" pInputText  formControlName="typedCap" style="width: 7rem;height: 2rem;font-size: 15px;"> 
                            <label for="float-input" style="color: teal;">Captcha</label>
                        </span>
                    </div>

                    <div class="logbtn">
                        <button class="btn logbtn1">LOGIN</button>
                    </div>
                    
                </form>
                <div class="text-center">
                    if not registered? <a class="sgnbtn" type="button" (click)="navigateToRegister()">Signup</a>
                </div>
                
                </div> 

            </div>
            
          </main>

    </div>
</div>